body, html {
	font-family: 'Montserrat', sans-serif;
	text-rendering: optimizeLegibility;
	color: black;
	font-weight: 400;
	width: 100%;
	height: 100%;
}

header .intro-text {
	padding-top: 250px;
	padding-bottom: 200px;
}

.intro {
	display: table;
	width: 100%;
	padding: 0;
	margin-bottom: 80px;
	background: url(../img/intro-bg.jpg) no-repeat right top;
	background-color: darkgray;
	background-size: cover;
	-o-background-size: cover;
}

.intro p {
	color: black;
	margin: 10px 0 20px 0;
	font-size: 22px;
}

#portfolio {
	padding: 40px 0 100px 0;
}

.portfolio-item {
	margin: 10px 0;
}

.portfolio-item .hover-bg {
	overflow: hidden;
	position: relative;
}

#apresentacao {
	padding: 60px 0 60px 0;
	background: #fff;
}

#apresentacao img {
	width: 470px;
	margin: 5px 30px 10px 0;
}

#contato {
	padding: 60px 0 60px 0;
	background: white;
}

#contato p {
	color: black;
	margin-bottom: 20px;
	line-height: 24px;
}

#contato .text-danger {
	color: red;
	text-align: left;
}

#contato .form-control {
	display: block;
	width: 100%;
	padding: 6px 12px;
	font-size: 15px;
	font-weight: 400;
	line-height: 1.42857143;
	color: black;
	background-color: white;
	border: 1px solid black;
}

#contato .form-control:focus {
	border-color: black;
	outline: 0;
	box-shadow: transparent;
}

#contato .btn-default {
	font-weight: 400;
	color: black;
	background-color: transparent;
	border: 2px solid black;
	padding: 10px 20px;
	margin: 0;
	font-size: 15px;
	border-radius: 0;
	margin-top: 20px;
	text-transform: uppercase;
	transition: all 0.3s;
}

#contato .btn-default:hover, .btn-default:focus, .btn-default.focus, .btn-default:active, .btn-default.active {
	background-color: black;
	color: darkgray;
}

#footer {
	background: white;
	padding: 50px 0 20px 0;
}

#footer .social {
	margin-top: 5px;
}

#footer .social ul li {
	display: inline-block;
	margin-right: 20px;
}

#footer .social i.fa {
	font-size: 26px;
	padding: 4px;
	color: black;
	transition: all 0.3s;
}

#footer .social i.fa:hover {
	color: dimgray;
}

h1 {
	color: black;
	font-size: 64px;
	font-weight: 800;
	margin-top: 0;
	text-transform: uppercase;
	margin-bottom: 10px;
}

h2 {
	margin: 0 0 20px 0;
	font-weight: 700;
	font-size: 42px;
	color: black;
	text-transform: uppercase;
}

h4 {
	font-size: 14px;
	letter-spacing: 1px;
	margin-bottom: 20px;
	text-transform: uppercase;
}

p {
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	font-weight: 400;
	color: black;
}

a {
	color: black;
}

a:hover, a:focus {
	text-decoration: none;
	color: black;
}

ul, ol {
	list-style: none;
    padding: 0;
}

.btn:active, .btn.active {
	background-image: none;
	outline: 0;
	box-shadow: none;
}

a:focus, .btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
	outline: none;
	outline-offset: none;
}

.section-title {
	margin-bottom: 50px;
}

.btn-custom {
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	color: black;
	background-color: transparent;
	border: 2px solid black;
	padding: 14px 20px;
	margin: 0;
	font-size: 14px;
	border-radius: 0;
	margin-top: 20px;
	margin-right: 30px;
	transition: all 0.5s;
}

.btn-custom:hover, .btn-custom:focus, .btn-custom.focus, .btn-custom:active, .btn-custom.active {
	color: darkgray;
	background-color: black;
}

.categories {
	margin-bottom: 80px;
}

ul.cat li {
	display: inline-block;
}

ol.type li {
	display: inline-block;
	margin-right: 20px;
}

ol.type li a {
	font-family: 'Montserrat', sans-serif;
	color: black;
	font-size: 14px;
	padding: 10px 20px;
	border: 2px solid black;
	border-radius: 0;
	text-transform: uppercase;
}

ol.type li a.active {
	background: black;
	color: darkgray;
}

ol.type li a:hover {
	background: black;
	color: darkgray;
}

.hover-bg .hover-text {
	position: absolute;
	text-align: center;
	margin: 0 auto;
	color: black;
	background: rgba(255, 255, 255, 0.75);
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: all 0.5s;
}

.hover-bg .hover-text .overlay-caption {
	display: table;
	height: 100%;
	width: 100%;
}

.hover-bg .hover-text .overlay-caption .overlay-content {
	display: table-cell;
	vertical-align: middle;
}

.hover-bg:hover .hover-text {
	opacity: 2;
}